In [1]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
# исходные данные
data = [34, 45, 6, 8, 11, 15, 27, 55, 67, 3, 45, 76, -111, 45, 5, 5, 7, 7, 11, 12]

In [3]:
# функция формирующая последовательности из исходных числовых данных
def func(data_list):
    temp = data_list[0]
    subs = [data_list[0]]
    result = []
    for i in data_list[1:]:
        if i < temp:
            result.append(subs)
            subs = [i]
        else:
            subs.append(i)
        temp = i
    if subs:
        result.append(subs)
    return result

In [6]:
# открытие сессии, создание RDD и вычисления
sc = SparkContext("local", "longest_num_sequence")
rdd = sc.parallelize(func(data))
result = rdd.max(key=lambda x: len(x))
result

[6, 8, 11, 15, 27, 55, 67]

In [5]:
sc.stop()