# Условие:
есть набор данных о продажах продуктов с информацией о дате продаж, категории продукта, количестве и выручке от продаж.

Используя Apache Spark, загрузите предоставленный набор данных в DataFrame (пример данных ниже).

("2023-11-20", "Electronics", 100, 12000),
("2023-11-21", "Electronics", 110, 13000),
("2023-11-22", "Electronics", 105, 12500),
("2023-11-20", "Clothing", 300, 15000),
("2023-11-21", "Clothing", 280, 14000),
("2023-11-22", "Clothing", 320, 16000),
("2023-11-20", "Books", 150, 9000),
("2023-11-21", "Books", 200, 12000),
("2023-11-22", "Books", 180, 10000)

Столбцы: "date", "category", "quantity", "revenue".

С использованием оконных функций, рассчитайте среднее выручки от продаж для каждой категории продукта.
Примените операцию pivot для того, чтобы преобразовать полученные данные таким образом, чтобы в качестве строк были категории продуктов, в качестве столбцов были дни, а значениями были средние значения выручки от продаж за соответствующий день

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import avg
import pyspark.sql.functions as F

spark = SparkSession.builder.appName("home_work").getOrCreate()

# Загрузка исходных данных
data = [("2023-11-20", "Electronics", 100, 12000),
      ("2023-11-21", "Electronics", 110, 13000),
      ("2023-11-22", "Electronics", 105, 12500),
      ("2023-11-20", "Clothing", 300, 15000),
      ("2023-11-21", "Clothing", 280, 14000),
      ("2023-11-22", "Clothing", 320, 16000),
      ("2023-11-20", "Books", 150, 9000),
      ("2023-11-21", "Books", 200, 12000),
      ("2023-11-22", "Books", 180, 10000)]

In [18]:
# создание датафрейма
df = spark.createDataFrame(data, ["date", "category", "quantity", "revenue"])

In [21]:
# рассчет средней выручки от продаж для каждой категории продукта с использованием оконной функции
revWindow = Window.partitionBy("category")
# добавление столбца со средними значениями продаж для каждой категории
df2 = df.withColumn("average_revenue", avg("revenue").over(revWindow))
df2.show()

+----------+-----------+--------+-------+------------------+
|      date|   category|quantity|revenue|   average_revenue|
+----------+-----------+--------+-------+------------------+
|2023-11-20|      Books|     150|   9000|10333.333333333334|
|2023-11-21|      Books|     200|  12000|10333.333333333334|
|2023-11-22|      Books|     180|  10000|10333.333333333334|
|2023-11-20|   Clothing|     300|  15000|           15000.0|
|2023-11-21|   Clothing|     280|  14000|           15000.0|
|2023-11-22|   Clothing|     320|  16000|           15000.0|
|2023-11-20|Electronics|     100|  12000|           12500.0|
|2023-11-21|Electronics|     110|  13000|           12500.0|
|2023-11-22|Electronics|     105|  12500|           12500.0|
+----------+-----------+--------+-------+------------------+

In [23]:
# применение операции pivot к исходной таблице
# в качестве строк категории, в качестве столбцов дни, в качестве значений выручка
pivot_df = df.groupBy("category").pivot("date").agg(F.avg("revenue"))
pivot_df.show()

+-----------+----------+----------+----------+
|   category|2023-11-20|2023-11-21|2023-11-22|
+-----------+----------+----------+----------+
|Electronics|   12000.0|   13000.0|   12500.0|
|   Clothing|   15000.0|   14000.0|   16000.0|
|      Books|    9000.0|   12000.0|   10000.0|
+-----------+----------+----------+----------+